{% extends "master.html" %}
{% load duration_filters %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1 class="mt-4">{{ title }}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'homepage:index' %}">Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a href="{% url 'paragliding:index' %}">Genel Liste</a></li>
        <li class="breadcrumb-item active">Uçuş Kayıtları</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            IGC Dosyalarını indirme üç aşamadan oluşur:
            <br><strong>1.Güncelle:</strong> Üst verinin YPForumdan güncellenmesi. (Bu işlem otomatik yapılır)
            <br><strong>2.Al:</strong> Dosyaların YPForumdan alınarak site veirtabanına işlenmesi.
            <br><strong>3.İndir:</strong> Dosyaların kullanıcı tarafından indirilmesi.
            Not: IGC dosyalarının alınması uzun sürebilir. Sayfayı yenilediğinizde indirilen dosyaları görebilirsiniz. 
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" name="submit" value="flightdata_get" class="btn btn-primary">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">sync</span>Güncelle
                </button>
            </form>
            <form method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" name="submit" value="flightdata_get_igc" class="btn btn-success">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">download</span>Al
                </button>
            </form>
            <form method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" name="submit" value="flightdata_download" class="btn btn-warning">
                    <span class="material-symbols-outlined" style="vertical-align: middle;">folder_zip</span>İndir
                </button>
            </form>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <strong>Uçuşlar ({{ flights.count }})</strong>
        </div>
        <div class="card-body">
            <table id="datatableFlights" class="datatable-init">
                <thead>
                    <tr>
                        <th>Tarih</th>
                        <th>Kalkış</th>
                        <th>Süre</th>
                        <th>Mesafe (km)</th>
                        <th>IGC Dosyası</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in flights %}
                        <tr>
                            <td>{{ flight.flight_date|date:"d.m.Y" }}</td>
                            <td>{{ flight.takeoff_name }}</td>
                            <td>{{ flight.duration|format_duration }}</td>
                            <td>{{ flight.distance|floatformat:2 }}</td>
                            <td>
                                {% if flight.file_content %}
                                    {{ flight.file_name }}
                                    <a href="{{ flight.flight_url }}" target="_blank">
                                        <span class="badge bg-success">Mevcut</span>
                                    </a>
                                {% else %}
                                <a href="{{ flight.flight_url }}" target="_blank">
                                        <span class="badge bg-secondary">Yok</span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
